@tailwind base;
@tailwind components;
@tailwind utilities;
/* Leaflet */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.leaflet-container {
  height: 400px; /* ajusta altura según necesidad */
  width: 100%;
  border-radius: 0.5rem; /* opcional para bordes redondeados */
}
